/* -- Scss definitions -- */
/* Light */
$background-color: #fefefe;

$main-color: #111;
$alternative-color: #555;
$selection-color: #ccc;

$code-color: #bbb;
$code-color-hover: #777;

$link-color: #2f4a66;
$link-color-hover: #355299;

$highlight-color: #ffe280;

$table-border-color: #ccc;
$table-alternate-color: #f7f7f7;
$table-header-color: #f0f0f0;

$shadow-color: rgba(0, 0, 0, 0.2);

/* Dark */
/*$background-color: #252525;

$main-color: #ccc;
$alternative-color: #999;
$selection-color: #ccc;

$code-color: #777;
$code-color-hover: #bbb;

$link-color: #7397bb;
$link-color-hover: #3e6994;

$highlight-color: #70674c;

$table-border-color: #ccc;
$table-alternate-color: #303030;
$table-header-color: #1c1c1c;*/

$shadow-color: rgba(255, 255, 255, 0.2);

@mixin caption() {
	font-style: italic;
	font-size: 85%;
}

/* -- Css -- */
@import url('https://fonts.googleapis.com/css?family=Cinzel|EB+Garamond:400,400i,600i,600|Cutive+Mono');

/* General */
::selection {
	background: $selection-color;
}
::-moz-selection {
	background: $selection-color;
}
* {
	font-family: 'EB Garamond', serif;
	font-size: 1.45em;
	color: $main-color;
	background-color: $background-color;
	position: relative;
	transition: all 0.2s ease-out;
}
* * {
	font-size: 100%;
}

.justify, .justify *,
.left .justify, .left .justify *,
.right .justify, .right .justify *,
.center .justify, .center .justify * {
	text-align: justify;
}
.left, .left *,
.justify .left, .justify .left *,
.right .left, .right .left *,
.center .left, .center .left * {
	text-align: left;
}
.right, .right *,
.justify .right, .justify .right *,
.left .right, .left .right *,
.center .right, .center .right * {
	text-align: right;
}
.center, .center *,
.justify .center, .justify .center *,
.left .center, .left .center *,
.right .center, .right .center * {
	text-align: center;
}

.caption {
	@include caption();
}

/* Headers */
h1 {
	font-family: 'Cinzel', serif;
	font-size: 280%;
	font-weight: 400;
	margin: 1em 0;
}
h1, .justify h1, .left h1, .right h1 {
	text-align: center;
}
h2 {
	font-size: 208%;
	font-weight: 400;
	margin: 1em 0 0.5em 0;
}
h3 {
	font-size: 167%;
	margin: 1.1em 0 0.6em 0;
}
h4 {
	font-size: 150%;
	margin: 1.2em 0 0.65em 0;
}
h5 {
	font-size: 125%;
	margin: 1.5em 0 0.8em 0;
}
h6 {
	margin: 2em 0 1em 0;
}

/* Paragraphs */
p {
	text-indent: 0;
	margin: 0.5em 0 0 0;
}
p.indent {
	text-indent: 1em;
	margin: 0.15em 0 0 0;
}

/* Cite */
cite {
	font-style: italic;
}

/* Quote blocks */
blockquote, blockquote * {
	font-weight: 600;
	font-style: italic;
	color: $alternative-color;
}
blockquote {
	font-weight: 600;
	text-align: justify;
	display: block;
	margin: 3em 1em 3em 4em;
}
blockquote::before {
	content: "\"";
	font-size: 333%;
	position: absolute;
	left: -0.65em;
	top: -0.5em;
}
blockquote>span.ref {
	font-weight: 600;
	font-style: normal;
	text-align: right;
	display: block;
	margin: 1em 0.5em;
}
blockquote cite {
	text-decoration: underline;
}

/* Code blocks */
code, sample {
	font-family: 'Cutive Mono', monospace;
	text-align: left;
	white-space: pre-wrap;
	border-left: $code-color 0.3em solid;
	display: block;
	margin: 3em 1em;
	padding: 0.5em 0 0.5em 2em;
}
code:hover, sample:hover {
	border-left-color: $code-color-hover;
}
kbd {
	font-family: 'Cutive Mono', monospace;
}

/* Addresses */
address {
	font-size: 85%;
	border-left: $code-color 0.3em solid;
	display: block;
	margin: 1em;
	padding: 0.2em 0 0.2em 2em;
}

/* Abbreviations */
abbr {
	font-style: italic;
	text-decoration: underline solid $code-color-hover;
}

/* Links */
a {
	color: $link-color;
}
a:hover {
	color: $link-color-hover;
}

/* Lists */
ul, ol {
	margin: 1em 0;
	padding: 0 0 0 2.5em;
}
dl {
	margin: 1em 0;
}
ul {
	list-style-type: none;
}
ol, ol.decimal {
	list-style-type: decimal;
}
ol.lower-roman {
	list-style-type: lower-roman;
}
ol.upper-roman {
	list-style-type: upper-roman;
}
ol.lower-latin {
	list-style-type: lower-latin;
}
ol.upper-latin {
	list-style-type: upper-latin;
}
li {
	padding: 0 0 0 1em;
}
ul>li::before {
	content: "\00bb";
	position: absolute;
	left: -1em;
}
dt {
	font-style: italic;
	font-weight: 600;
	margin: 1em 0 0 0;
}
dd {
	font-size: 90%;
	color: $alternative-color;
	margin: 0.5em 0 0 1em;
}

/* Sub, sup */
sub, sup {
	font-size: 80%;
}

/* Highlighting */
mark {
	background-color: $highlight-color;
}

/* Horizontal line */
hr {
	border: none;
	border-top: $alternative-color 1px solid;
	margin: 2em 5em;
}

/* Images */
img {
	display: block;
	margin: 2em;
	max-width: 100%;
}
img.centered {
	margin: 2em auto;
}
img.inline {
	display: inline-block;
}
img.shadowed {
	-webkit-box-shadow: 0 0 15px $shadow-color;
	-moz-box-shadow: 0 0 15px $shadow-color;
	box-shadow: 0 0 15px $shadow-color;
}
img.captioned {
	margin-bottom: 0.5em;
}

/* Tables */
table {
	border-collapse: collapse;
	border: 1px solid #ccc;
	margin: 2em;
	margin-bottom: 3em;
}
table.centered {
	margin: 2em auto;
	margin-bottom: 3em;
}
td, th {
	border: 1px solid #ccc;
	padding: 0.5em;
	vertical-align: middle;
}
tbody>tr:nth-child(2n)>td {
	background-color: $table-alternate-color;
}
th, tfoot>tr>td {
	background-color: $table-header-color;
}
caption {
	@include caption();
	position: absolute;
	bottom: -2em;
}


/* -- Media queries -- */
@media (max-width:600px) {
	body {
		margin: 2em;
	}

	hr {
		margin: 2em 1em;
	}
}

@media (min-width:601px) and (max-width:700px) {
	body {
		margin: 3em;
	}
}

@media (min-width:701px) and (max-width:800px) {
	body {
		margin: 4em;
	}
}

@media (min-width:801px) and (max-width:900px) {
	body {
		margin: 4em;
	}
}

@media (min-width:901px) and (max-width:1100px) {
	body {
		margin: 5em 15%;
	}
}

@media (min-width:1101px) and (max-width:1400px) {
	body {
		margin: 5em 20%;
	}
	body.lean-left {
		margin: 5em 25% 5em 15%;
	}
	body.lean-right {
		margin: 5em 15% 5em 25%;
	}
}

@media (min-width:1401px) and (max-width:1600px) {
	body {
		margin: 5em 25%;
	}
	body.lean-left {
		margin: 5em 30% 5em 20%;
	}
	body.lean-right {
		margin: 5em 20% 5em 30%;
	}
}

@media (min-width:1601px) {
	body {
		margin: 5em 30%;
	}
	body.lean-left {
		margin: 5em 40% 5em 20%;
	}
	body.lean-right {
		margin: 5em 20% 5em 40%;
	}
}