 /* TODO: responsiveness */
nav {
	background-color: transparent;
	position: fixed;
	top: -100vh;
	left: 0;
	right: 0;
	padding: 2em 10%;
	height: calc(100vh - 4em);
	overflow-y: scroll;
	opacity: 0.5;
	z-index: 100;
	transition: all 0.5s ease-in;
}
nav.active {
	top: 0;
	opacity: 1;
	transition: all 0.5s ease-out;
}

section {
	background-color: transparent;
	display: flex;
	flex-direction: row;
}

section>div {
	flex: 50%;
}

div.color-scheme {
	background-color: #252525;
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
}

#menu-toggle {
	font-size: 200%;
	background-color: transparent;
	padding: 1em;
	cursor: pointer;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 101;
}
#menu-toggle.active {
	transform: rotate(-180deg);
}