 /* TODO: responsiveness */
nav {
	position: fixed;
	top: -100vh;
	left: 0;
	right: 0;
	padding: 2em 10%;
	height: calc(100vh - 4em);
	overflow-y: auto;
	opacity: 0.5;
	z-index: 100;
	transition: all 0.5s ease-in;
}
nav.active {
	top: 0;
	opacity: 1;
	transition: all 0.5s ease-out;
}
nav, nav.theme-light {
	background-color: #fefefe;
}
nav.theme-dark {
	background-color: #252525;
}

section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

section>div {
	flex: 33%;
}

#menu-toggle {
	font-size: 200%;
	background-color: transparent;
	padding: 1em;
	cursor: pointer;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 101;
}
#menu-toggle.active {
	transform: rotate(-180deg);
}

/* -- Media queries -- */
@media (max-width:700px) {
	#menu-toggle {
		padding: 0.5em 0.2em;
	}
}
@media (max-width:900px) {
	section>div {
		flex: 100%;
	}
}
@media (min-width:901px) and (max-width:1100px) {
	section>div {
		flex: 50%;
	}
}